
h1{
	text-align: center;
	font-family: monospace;
	font-size: 30px
}
h2{
	text-decoration: underline;
	font-size: 24px;
}
body{
	background-image: url("https://st2.depositphotos.com/3346395/11031/v/450/depositphotos_110310574-stock-illustration-circuit-board-background-vector.jpg");
	font-family: sans-serif;
}
p{
	font-family: monospace;
	font-size: 19px;
}
iframe {
    display: block;
    width: 800px;
    height: 400px;
    margin: 0 auto;
    border: 0;
}
h3{
	text-align: center;
}
#end{
	text-align: center;
	/*color: black;
	-webkit-text-stroke-width: 1px;
   	-webkit-text-stroke-color: #fff;*/
}
/*a{
	color:#fff;
	font-size: 22px;
}*/
/*aligning thw smaller containment of the text and images*/
/*#text{
	width: 60%;
}*/
/*Controls the div for the whole body*/
#mainBlog{
	margin: auto;
	width: 75%;
	border: 3px solid black;
	border-radius: 70px 20px;
	padding: 10px;
	background-color: lightblue;
}
#logos{
	margin: auto;
	width: 75%;
/*	padding: 10px;*/
	text-align: center; 	
}
#text{
	margin: auto;
}
#stats{
	height: 25%;
	width: 25%;
}
.center{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
/*styling for the citations*/
.picCite{
	text-align: center;
	font-size: 12px;
}
#icon{
	height: 7%;
	width: 7%;
}
#linked{
	height: 6%;
	width: 6%;
}
/*ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    height: 100%;  Full height 
    position: fixed; /* Make it stick, even on scroll 
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
/*/
/**/
#nav {
  color: #fff;
  background-color: #0B2027;
  padding: 0.3em;
  border-radius: 5px;
  text-decoration: none;
  font-size: 22px;
}


.checkbox-container {
  display: block;
  float: left;
  width: 50px;
  height: 50px;
  position: relative;
  background: #182825;
}

.checkbox-trigger {
  opacity: 0;
  position: absolute;
  width: 50px;
  height: 50px;
  left: 0px;
  cursor: pointer;
  z-index: 5;
}

.hamburger-menu, .hamburger-menu::before, .hamburger-menu::after {
  display: block;
  position: absolute;
  background: white;
  width: 40px;
  height: 4px;
  margin: 1.3em 3em;
  transition: background 0.3s;
}

.hamburger-menu::before, .hamburger-menu::after {
  content: '';
  position: absolute;
  margin: -0.7em 0 0;
  transition: width 0.7s ease 0.3s, transform 0.7s ease 0.3s;
}

.hamburger-menu::after { margin-top: 0.7em; }

.hamburger-menu {
  position: relative;
  display: block;
  margin: 0;
  margin-top: 1.45em;
  margin-right: 0.35em;
  margin-left: 0.35em;
  margin-bottom: 1.45em;
  transition: width 0.3s ease;
}

.checkbox-trigger:checked { left: 202px; }

.checkbox-trigger:checked + .menu-content .hamburger-menu {
  width: 2em;
  transition: width 0.7s ease 0.7s;
}

.checkbox-trigger:checked + .menu-content .hamburger-menu::before {
  width: 1.2em;
  transform: rotate(-35deg);
  margin-top: -0.4em;
}

.checkbox-trigger:checked + .menu-content .hamburger-menu::after {
  width: 1.2em;
  transform: rotate(35deg);
  margin-top: 0.4em;
}

.checkbox-trigger:checked + .menu-content ul {
  width: 200px;
  height: 200px;
  transition: width 0.7s ease 0.3s, height 0.3s ease;
}

.menu-content {
  display: flex;
  background: #182825;
  color: white;
  float: left;
}

.menu-content ul {
  display: block;
  padding-left: 0;
  padding-top: 1em;
  padding-bottom: 1em;
  margin: 0;
  width: 0px;
  height: 0px;
  overflow: hidden;
  transition: height 0.3s ease 0.7s, width 0.7s ease;
}

.menu-content ul li {
  list-style: none;
  padding-top: 1em;
  padding-bottom: 1em;
  cursor: pointer;
  transition: color 0.5s, background 0.5s;
}

.menu-content ul li:hover {
  color: #0CD6AD;
  background: #1E332F;
}